.button {
    -fx-background-color: #7d1234;
    -fx-font-size: 18;
    -fx-font-family: Ubuntu;
}

.button:hover {
    -fx-background-color: #7d1234;
}

.button:pressed {
    -fx-background-color: #4b0b1f;
}
